body {
  font-family: monospace;
  width: 99%;
  max-width: 1024px;
  padding: 0 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #eeeeee;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.textlink:before {
  content: "⇒ ";
  padding-left: 11px;
}

p.quote {
  font-style: italic;
}

p.quote:before {
  content: "« ";
  padding-left: 2px;
}

p.quote:after {
  content: " »";
  padding-right: 2px;
}

ul {
  list-style: none;
  padding-right: 23px;
  padding-left: 10px;
  margin: 0.75em 0 0.75em 0;
}

li {
  color: purple;
  margin-left: 1em;
  margin-bottom: 0.25em;
}

li:before {
  content: "★";
  padding-right: 5px;
}

img {
  max-width: 90%;
  display: block;
  margin: auto;
  border: 1px solid #333333;
}

span.inlinecode {
  border: 2px solid #aaaaaa;
  color: #ffffff;
  padding: 1px; 
  background-color: #000000;
}
