* {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #222;
}

body {
  font: normal 14px monospace;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 2em auto 0;
  padding: 0 20px;
  box-sizing: border-box;
  display: block;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  body {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  body {
    width: 80%;
  }
}

h1, h2, h3 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  margin-top: 1em;
  font-size: 1.25em;
}

h3 {
  font-size: 1.1em;
}

a {
  color: #248;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  background-color: #9CFF00;
  text-decoration: underline;
}

a.textlink:before {
  content: "⇒ ";
  padding-left: 11px;
}

p.quote:before {
  content: "« ";
  padding-left: 2px;
}

p.quote:after {
  content: " »";
  padding-right: 2px;
}

a:visited {
  color: #824;
}

li {
  margin-left: 1em;
  margin-bottom: 0.25em;
}

ol li {
  margin-left: 2em;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

p, ul, ol {
  margin: 0.75em 0 0.75em 0;
  padding: 0;
}

ul {
  color: #f8f8f8;
  background-color: #222;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-right: 23px;
  padding-left: 50px;
}

img {
  max-width: 601;
  max-height: 401;
  display: block;
  margin: auto;
}


p code, li code {
  color: rgb(66, 146, 41);
}

article * {
  line-height: 1.8em;
}

article img {
  width: 100%;
  margin: 2em 0;
}

article img.med {
  max-width: 400px;
  text-align: center;
}

pre {
  font-family: monospace;
  padding: 0;
  overflow-x: scroll;
  scrollbar-width: none;

  border-left: 2px solid #9CFF00;
  padding-left: 12px; 
}

pre * {
  line-height: 1.0em;
}

.quote {
  font-style: italic;
}
